<div class="container-fluid section-title">
    Cours recommandés pour vous
</div>

<div class="row container-fluid">

    <div class="card" style="width:300px; margin: 15px;" *ngFor="let item of list">
        <img class="card-img-top" [src]="item.image" alt="Card image" style="height: 300px;">
        <div class="card-body" style="background-color: rgb(140, 154, 163);">
            <h1 class="card-title">{{item.label}}</h1>
            <h4 class="card-text">{{item.description}}</h4>
        </div>
    </div>

</div>
