#content {
    padding: 0 50px 0 50px;
}

#element {
    margin: 20px;
    font-size: 20px;
}

#title {
    text-align: center;
    font-size: 50px;
    height: 300px;
    padding-top: 130px;
    background-color: #deebff;
   
}

#subtitle {
    text-align: center;
    font-size: 25px;
    min-height: 200px;
    padding-top: 50px;
    max-width: 800px;
    font-weight: 500;
    background-color: tomato;
}

#go {
    margin-top: 50px;
    padding-bottom: 100px;
    align-content: center;
    text-align: center;
}
