mat-sidenav-container {
   
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding:16px;
}

mat-sidenav {
    background-color: rgb(230, 230, 230);
    width: 300px;
}

a {
    font-weight: bold;
    margin-top: 40px;
}

.full-width {
  width: 100%;
}