<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="mat-elevation-z4" mode="side" opened="true">
        <mat-nav-list>
            <div style="text-align: center; font-size: 25px;">
                titre
            </div>
            <mat-list-item>
                <h2 matLine>pdf1</h2>
            </mat-list-item>
            <mat-list-item>
                <h2 matLine>pdf1</h2>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <div class="container-fluid">
        <router-outlet name="course"></router-outlet>
    </div>
</mat-sidenav-container>