#header{
    font-size: large;
    color: white;
}

#login{
    margin-top: 250px;
}

#title {
    text-align: center;
}

#content {
    margin-top: 100px;
}

#title {
    margin-bottom: 55px;
}

.error{
    color: tomato
}

#page {
    background-image: url("./../../assets/tamarcus-brown-zuQDqLFavI4-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    height: 890px;
    padding-top: 80px;
}

#lien {
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: right;
}

#content {
    background-color:#fcfdff;
}
