<div class="container-fluid" id="page">
    <div class="card offset-1" id="card">
        <h5 class="card-header bg-primary" style="color: white; font-weight: 400; font-size: 25px;">Débutez avec python</h5>
        <div class="card-body">
            <h3 class="card-title">Cours sur les bases de la programmation avec python</h3>
            <a href="#" class="btn btn-primary">Allez au cours</a>
        </div>
    </div>

    <div class="card offset-1" id="card">
        <h5 class="card-header bg-primary" style="color: white; font-weight: 400; font-size: 25px;">IBM machine learning</h5>
        <div class="card-body">
            <h3 class="card-title">Une très bonne introduction au machine learning</h3>

            <a href="#" class="btn btn-primary">Allez au cours</a>
        </div>
    </div>

    <div class="card offset-1" id="card">
        <h5 class="card-header bg-primary" style="color: white; font-weight: 400; font-size: 25px;">S'exprimer en anglais</h5>
        <div class="card-body">
            <h3 class="card-title">A la fin de cette formation, vous vous exprimerez correctement en anglais</h3>
            <a href="#" class="btn btn-primary">Allez au cours</a>
        </div>
    </div>

</div>
