<div class="container-fluid" id="page">
    <div class="card offset-1" id="card">
        <h5 class="card-header bg-primary" style="color: white; font-weight: 600; font-size: 25px;">Cours</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#" class="btn btn-primary">Allez au cours</a>
        </div>
    </div>
</div>
