
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6">
            <h2 class="card-title text-center" style="margin-top:30%">Bénéficier du meilleur suivi de votre parcours</h2>
            <p class="card-text text-center">Développez vos compétences avec des cours, des certificats et des diplômes en ligne provenant d'universités et d'entreprises de classe mondiale.</p>
            <a href="#" class="btn btn-primary" style="margin-left:35%">Rejoignez-nous</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-6">
            <img src="../../assets/study.jpg" style="margin-top:5%;" class="img-fluid" alt="images study" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center text-capitalize bg-primary"  style="margin-bottom:5%;margin-top:5%;color:white">Partenaires</h2>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ENSPY</h4>
                        <p class="card-text">Ecole Nationale Supérieur Polytechnique de Yaoundé</p>
                        <a href="#" class="btn btn-primary">plus d'infos</a>                        
                        <img class="card-img-bottom img-fluid" src="../../assets/Logo_ENSP.png" alt="Card image">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">IAI</h4>
                      <p class="card-text">Institut Africaine d'Informatique</p>
                      <a href="#" class="btn btn-primary">plus d'infos</a>
                      <img class="card-img-bottom img-fluid" src="../../assets/iai.png" alt="Card image">
                    </div>
                </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ENAM</h4>
                  <p class="card-text">Ecole Nationale d'Administration et de Magistrature</p>
                  <a href="#" class="btn btn-primary">plus d'infos</a>
                  <img class="card-img-bottom img-fluid" src="../../assets/ENAM-Yaounde-Cameroun.png" alt="Card image">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">CRTV</h4>
                  <p class="card-text">Cameroon Radio Television</p>
                  <a href="#" class="btn btn-primary">plus d'infos</a>
                  <img class="card-img-bottom img-fluid" src="../../assets/crtc.png" alt="Card image">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">SUPTIC</h4>
                  <p class="card-text">Ecole Nationale Supérieur des Postes et Télécom</p>
                  <a href="#" class="btn btn-primary">plus d'infos</a>
                  <img class="card-img-bottom img-fluid" src="../../assets/suptic.png" alt="Card image">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ISSEA</h4>
                  <p class="card-text">Institut Supérieur des Statitiques et de l'Economie Appliqué</p>
                  <a href="#" class="btn btn-primary">plus d'infos</a>
                  <img class="card-img-bottom img-fluid" src="../../assets/isssea.png" alt="Card image">
                </div>
              </div>
            </div>
        </div>
    </div>
</div>